.chat-area{
    height: 70vh;
}

.message{
    /* border: 1px solid red; */
    max-width: 70%;
    width: fit-content;
    margin-top: 2rem;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.309);
}

.msg-text{
    padding: 1rem;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.msg-rec{
    background: rgb(4, 61, 205);
    border-radius: 3px 15px 15px 15px;
}

.msg-sent{
    margin-left: auto;
    background: rgb(5, 209, 42);
    border-radius: 13px 3px 15px 15px;
}